<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.errec.android.enfermagemdebolso">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DropCalc" />
        <activity android:name=".MedicalDictionary" />
        <activity android:name=".Quiz" />
        <activity android:name=".News" />
        <activity android:name=".Legis" />
        <activity android:name=".YouTubeVideo" />


        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="AIzaSyD2WpQiwtX2GLnx3_NFwaQrWd8xJQfGAwc" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>